* {
  margin: 0;
  padding: 0;
}
.container {
  /* display: flex; */
  width: 80%;
  margin: 0 auto;
}
.list-box {
  height: 200px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(199, 199, 199, 1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(199, 199, 199, 1);
  box-shadow: 1px 1px 5px 0px rgba(199, 199, 199, 1);
}
.page-title {
  font-size: 32px;
  text-align: center;
  margin: 32px 0;
}
.quiz-list li ul {
  padding-bottom: 16px;
}
.quiz-list li li {
  padding: 8px 16px;
}
.quiz-list > li > h6 {
  background: #ccc;
  padding: 8px 16px;
  font-size: 16px;
}